<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro de Pratos</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>
<body>

	<!-- Header da restaurante -->
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<div class="container">
			<a id="mero" class="navbar-brand h1 mb-0" href="#">Mero Sushi</a>
			<buttom class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSite"> <span
				class="navbar-toggler-icon"></span> </buttom>
			<div class="collapse navbar-collapse" id="navbarSite">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Pratos </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/prato/formPrato">Cadastrar Prato</a> <a
								class="dropdown-item" href="/prato/listarPratos">Ver todos os Pratos</a>
							<div class="dropdown-divider"></div>
						</div>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Pedido</a></li>
					<li class="nav-item"><a class="nav-link" href="/cliente/formCliente">Cliente</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/logout"> <span
							class="fas fa-user"></span> Sign Up
					</a></li>
					<li class="nav-item"><a class="nav-link" href="/cliente/logar">
							<span class="fas fa-sign-in-alt"></span> Login
					</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Carousel de slides para deixar a aplicação mais interativa -->
	<div id="carouselRest" class="carousel slide" data-ride="carousel">

		<ol class="carousel-indicators">
			<li data-target="#carouselRest" data-slide-to="0" class="active"></li>
			<li data-target="#carouselRest" data-slide-to="1"></li>
			<li data-target="#carouselRest" data-slide-to="2"></li>
		</ol>

		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="/img/temaki.jpg" class="img-fluid d-block">
			</div>

			<div class="carousel-item">
				<img src="/img/lugar.jpg" class="img-fluid d-block">
			</div>

			<div class="carousel-item">
				<img src="/img/2.jpg" class="img-fluid d-block">
			</div>
		</div>

		<a class="carousel-control-prev" href="#carouselRest"
			data-slide="prev"> <span class="carousel-control-prev-icon"></span>
			<span class="sr-only">Anterior</span>
		</a> <a class="carousel-control-next" href="#carouselRest"
			data-slide="next"> <span class="carousel-control-next-icon"></span>
			<span class="sr-only">Próximo</span>
		</a>
	</div>

	<!-- Formulário para cadastro de prato -->
	<div class="faixaForm">
		<h2>Formulário de Cadastro de Pratos</h2>

		<form action="/prato/salvarPrato" method="POST" th:object="${prato}"
			enctype="multipart/form-data">
			
			<!-- Alerta de erros e mostra os erros do prato-->
			<div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
				<div th:each="detailedError : ${#fields.detailedErrors()}" >
				
					<span th:text="${detailedError.message}" ></span>
				</div>
			</div>

			<input type="hidden" th:field="*{id}">
			 Código do Prato: <input type="text" th:field ="*{cod_prato}"><br> 
			 Nome do Prato:<input type="text" th:field="*{nome_prato}"> <br> 
			 Preço: <input type="text" th:field="*{preco_prato}"> <br> 
			 Imagem: <input type="file" name="imagem"><br> <input
				type="submit" value="cadastrar">
				
			<!-- Alerta de sucesso de prato cadastrado -->
			<div class="alert alert-success" role="alert" th:if="${!#strings.isEmpty(mensagem)}">
				 <span th:text="${mensagem}"></span>
			</div>
		</form>
	</div>
	
	



	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>